<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">scholarStack</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/articles/new">New Article</a></li>
        <li>
          <details>
            <summary>
              Journals
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
                <li><a class="btn btn-error" href="/journals/new">Add Journal</a></li>
              <li><a href="/articles?journal=1">Journal 1</a></li>
              <li><a href="/articles?journal=2">Journal 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>