<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>scholar stack</title>
</head>
<body>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">scholarStack</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>Link</a></li>
        <li>
          <details>
            <summary>
              Journals
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li><a href="/articles?journal=1">Journal 1</a></li>
              <li><a href="/articles?journal=2">Journal 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
      
      <div class="flex">
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <a href="/articles/1" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://oup.silverchair-cdn.com/oup/backfile/Content_public/Journal/nar/48/W1/10.1093_nar_gkaa437/1/m_gkaa437fig1.jpeg?Expires=1711012826&Signature=DdFvdLPA~oRc5Ne52PDt26JdZC0fFm9hQycKlN6AUlczOXGu45rl5iX4fU~9CIeLXJiGhYHj1C2RbwtGDIYkAcUv4Y4YBZ5-xC8w7Avm-ri2IGeuzRK2GdmPLTC8HG~YyNwP33k3GpKywrAjoueV~K3kX8qurxw6RkjIXpyHadNbHPLocFG56GjSM-rb6W1U8EcXBno9jJ97~ATU472Eahr27tOHZqMbwfdjF~o1AIyi1j1dRnSEB8to2MXbv6TgB4gg5QGfuiUzLeVKFomWEpZn4nvDpnQafIOAQ2baWdrXQAjYGCF-5uUqMLkiZhTAjdU9rjaJm8XhDm5VGn2P8Q__&Key-Pair-Id=APKAIE5G5CRDK6RD3PGA" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">CReSCENT: Cancer single cell expression toolkit</h2>
              <p>Single-cell RNA-seq analysis toolkit using Seurat and interactive visualizations.</p>
              <div class="card-actions justify-end">
                <a href="/articles/2" class="btn btn-primary">Data</a>
                <a href="https://crescent.cloud" class="btn btn-success">Take me there!</a>

              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <a href="/articles/3" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
      </div>
    
</body>
</html>