<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>scholar stack</title>
</head>
<body>
  

    <%- include('partials/navbar') %>
    <h1>LOGIN</h1>
    <form method="POST" action="/login" class="form-control m-10 justify-center">

      <label class="input input-bordered flex items-center gap-2 w-full">
        <input type="text" class="grow" placeholder="username" name="username" id="username" />
      </label>
      <label class="input input-bordered flex items-center gap-2 w-full">
        <input type="password" class="grow" placeholder="password" name="password" id="password" />
      </label>
      <button type="submit" class="btn btn-success">submit</button>
    </form>
</body>
</html>