<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>scholar stack</title>
</head>
<body>

    <%- include('partials/navbar') %>
    <form method="POST" action="/journals/new"  class="form-control m-10 justify-center">

      <label class="input input-bordered flex items-center gap-2 w-full">
        <input type="text" class="grow" placeholder="Name" name="name" id="name" />
      </label>
      <label class="input input-bordered flex items-center gap-2 w-full">
        <input type="text" class="grow" placeholder="URL" name="url" id="url" />
      </label>
      <button type="submit" class="btn btn-success">submit</button>
    </form>
</body>
</html>